
.summarybox {
  padding: 0.05em 1em 0.3em 1em;
  background: WhiteSmoke;
  color: black;
  border: 2px solid SteelBlue;
  border-radius: 20px;
  text-align: left;
}

.blockquote > p:last-child {
  text-align: right;
}